@model Nomad.Extensions.PaginatedList<Nomad.Models.Allocation>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="row">
    <div class="col-md-12">
        <form class="search" method="get">
            <h4>Allocations</h4>

            <input name="search" type="text" placeholder="&#8981;">
        </form>
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Task Group</th>
                    <th>Desired Status</th>
                    <th>Client Status</th>
                    <th>Create Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var allocation in Model)
                {
                    <tr>
                        <td><a href="/allocation?id=@allocation.ID">@allocation.ID</a></td>
                        <td>@allocation.Name</td>
                        <td>@allocation.TaskGroup</td>
                        <td>@allocation.DesiredStatus</td>
                        <td>@allocation.ClientStatus</td>
                        <td>@allocation.CreateDateTime</td>
                    </tr>
                }
            </tbody>
        </table>

        <nav>
            <ul class="pagination">
                <li class="page-item @prevDisabled"><a class="page-link" href="/allocations?page=@(Model.PageIndex - 1)">Previous</a></li>
                <li class="page-item @nextDisabled"><a class="page-link" href="/allocations?page=@(Model.PageIndex + 1)">Next</a></li>
            </ul>
        </nav>
    </div>
</div>
