@model Nomad.Extensions.PaginatedList<Nomad.Models.Allocation>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="row">
    <div class="col-md-12">
        <form class="search" method="get">
            <h4>Allocations</h4>

            <input name="search" type="text" placeholder="&#8981;">
        </form>
        
        <table class="table table-hover">
            <thead>
                <tr class="row">
                    <th class="col">ID</th>
                    <th class="col">Name</th>
                    <th class="col">Task Group</th>
                    <th class="col">Desired Status</th>
                    <th class="col">Client Status</th>
                    <th class="col">Create Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var allocation in Model)
                {
                    <tr class="row">
                        <td class="col"><a href="/allocation?id=@allocation.ID">@allocation.ID</a></td>
                        <td class="col">@allocation.Name</td>
                        <td class="col">@allocation.TaskGroup</td>
                        <td class="col">@allocation.DesiredStatus</td>
                        <td class="col">@allocation.ClientStatus</td>
                        <td class="col">@allocation.CreateDateTime</td>
                    </tr>
                }
            </tbody>
        </table>

        <nav>
            <ul class="pagination">
                <li class="page-item @prevDisabled"><a class="page-link" href="/allocations?page=@(Model.PageIndex - 1)">Previous</a></li>
                <li class="page-item @nextDisabled"><a class="page-link" href="/allocations?page=@(Model.PageIndex + 1)">Next</a></li>
            </ul>
        </nav>
    </div>
</div>
