@model Nomad.Extensions.PaginatedList<Nomad.Models.Client>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="row">
    <div class="col-md-12">
        <form class="search" method="get">
            <h4>Clients</h4>

            <input name="search" type="text" placeholder="&#8981;">
        </form>

        <table class="table table-hover">
            <thead>
                <tr class="row">
                    <th class="col">ID</th>
                    <th class="col">Name</th>
                    <th class="col">Datacenter</th>
                    <th class="col">Drain</th>
                    <th class="col">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var client in Model)
                {
                    <tr class="row">
                        <td class="col"><a href="/client?id=@client.ID">@client.ID</a></td>
                        <td class="col">@client.Name</td>
                        <td class="col">@client.Datacenter</td>
                        <td class="col">@client.Drain</td>
                        <td class="col">@client.Status</td>
                    </tr>
                }
            </tbody>
        </table>

        <nav>
            <ul class="pagination">
                <li class="page-item @prevDisabled"><a class="page-link" href="/clients?page=@(Model.PageIndex - 1)">Previous</a></li>
                <li class="page-item @nextDisabled"><a class="page-link" href="/clients?page=@(Model.PageIndex + 1)">Next</a></li>
            </ul>
        </nav>
    </div>
</div>
