@model IEnumerable<Nomad.Models.Client>

<div class="row">
    <div class="col-md-12">
        <h4>Clients</h4>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Datacenter</th>
                    <th>Drain</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var client in Model)
                {
                    <tr>
                        <td><a href="/client?id=@client.ID">@client.ID</a></td>
                        <td>@client.Name</td>
                        <td>@client.Datacenter</td>
                        <td>@client.Drain</td>
                        <td>@client.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
