@model Nomad.Extensions.PaginatedList<Nomad.Models.Client>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="row">
    <div class="col-md-12">
        <h4>Clients</h4>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Datacenter</th>
                    <th>Drain</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var client in Model)
                {
                    <tr>
                        <td><a href="/client?id=@client.ID">@client.ID</a></td>
                        <td>@client.Name</td>
                        <td>@client.Datacenter</td>
                        <td>@client.Drain</td>
                        <td>@client.Status</td>
                    </tr>
                }
            </tbody>
        </table>

        <nav>
            <ul class="pagination">
                <li class="page-item @prevDisabled"><a class="page-link" href="/clients?page=@(Model.PageIndex - 1)">Previous</a></li>
                <li class="page-item @nextDisabled"><a class="page-link" href="/clients?page=@(Model.PageIndex + 1)">Next</a></li>
            </ul>
        </nav>
    </div>
</div>
