@model Nomad.Extensions.PaginatedListExtension<Nomad.Models.Evaluation>

<div class="row">
    <div class="col-md-12">
        <form class="search" method="get">
            <h4>Evaluations</h4>

            <input name="search" type="text" placeholder="&#8981;">
            <script type="text/javascript">
                var search = "@ViewData["Search"]";

                if (search) {
                    $('.search input').val(search)
                }
            </script>
        </form>
        
        <table class="table table-hover">
            <thead>
                <tr class="row">
                    <th class="col">ID</th>
                    <th class="col">Job ID</th>
                    <th class="col">Type</th>
                    <th class="col">Priority</th>
                    <th class="col">Triggered By</th>
                    <th class="col">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var evaluation in Model)
                {
                    <tr class="row">
                        <td class="col"><a href="/evaluation?id=@evaluation.ID">@evaluation.ID</a></td>
                        <td class="col"><a href="/job?id=@evaluation.JobID">@evaluation.JobID</a></td>
                        <td class="col">@evaluation.Type</td>
                        <td class="col">@evaluation.Priority</td>
                        <td class="col">@evaluation.TriggeredBy</td>
                        <td class="col">@evaluation.Status</td>
                    </tr>
                }
            </tbody>
        </table>

        <nav>
            <ul class="pagination">
                @if (Model.HasPreviousPage) { <li class="page-item"><a class="page-link" href="/evaluations?page=@(Model.PageIndex - 1)">Previous</a></li> }
                @if (Model.HasNextPage) { <li class="page-item"><a class="page-link" href="/evaluations?page=@(Model.PageIndex + 1)">Next</a></li> }
            </ul>
        </nav>
    </div>
</div>
