@model Nomad.Extensions.PaginatedList<Nomad.Models.Job>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="row">
    <div class="col-md-12">
        <h4>Jobs</h4>
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Priority</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var job in Model)
                {
                    <tr>
                        <td><a href="/job?id=@job.ID">@job.ID</a></td>
                        <td>@job.Name</td>
                        <td>@job.Type</td>
                        <td>@job.Priority</td>
                        <td>@job.Status</td>
                    </tr>
                }
            </tbody>
        </table>

        <nav>
            <ul class="pagination">
                <li class="page-item @prevDisabled"><a class="page-link" href="/jobs?page=@(Model.PageIndex - 1)">Previous</a></li>
                <li class="page-item @nextDisabled"><a class="page-link" href="/jobs?page=@(Model.PageIndex + 1)">Next</a></li>
            </ul>
        </nav>
    </div>
</div>
