@model Nomad.Extensions.PaginatedListExtension<Nomad.Models.Job>

<div class="row">
    <div class="col-md-12">
        <form class="search" method="get">
            <h4>Jobs</h4>

            <input name="search" type="text" placeholder="&#8981;">
            <script type="text/javascript">
                var search = "@ViewData["Search"]";

                if (search) {
                    $('.search input').val(search)
                }
            </script>
        </form>

        <table class="table table-hover">
            <thead>
                <tr class="row">
                    <th class="col-md-2">ID</th>
                    <th class="col-md-1">Type</th>
                    <th class="col-md-1">Priority</th>
                    <th class="col-md-7">Summary</th>
                    <th class="col-md-1">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var job in Model)
                {
                    <tr class="row">
                        <td class="col-md-2"><a href="/job?id=@job.ID">@job.ID</a></td>
                        <td class="col-md-1">@job.Type</td>
                        <td class="col-md-1">@job.Priority</td>
                        <td class="col-md-7">
                            <table class="table tableception">
                                <thead>
                                    <tr class="row">
                                        <th class="col">Name</th>
                                        <th class="col">Queued</th>
                                        <th class="col">Starting</th>
                                        <th class="col">Running</th>
                                        <th class="col">Failed</th>
                                        <th class="col">Lost</th>
                                        <th class="col">Complete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @foreach (var key in job.JobSummary.Summary.Keys.OrderBy(k => k))
                                {
                                    <tr class="row">
                                        <td class="col">@key</td>
                                        <td class="col">@job.JobSummary.Summary[key].Queued</td>
                                        <td class="col">@job.JobSummary.Summary[key].Starting</td>
                                        <td class="col">@job.JobSummary.Summary[key].Running</td>
                                        <td class="col">@job.JobSummary.Summary[key].Failed</td>
                                        <td class="col">@job.JobSummary.Summary[key].Lost</td>
                                        <td class="col">@job.JobSummary.Summary[key].Complete</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </td>
                        <td class="col-md-1">@job.Status</td>
                    </tr>
                }
            </tbody>
        </table>

        <nav>
            <ul class="pagination">
                @if (Model.HasPreviousPage) { <li class="page-item"><a class="page-link" href="/jobs?page=@(Model.PageIndex - 1)">Previous</a></li> }
                @if (Model.HasNextPage) { <li class="page-item"><a class="page-link" href="/jobs?page=@(Model.PageIndex + 1)">Next</a></li> }
            </ul>
        </nav>
    </div>
</div>
