@model Nomad.Models.Server

<div class="row spacer">
    <div class="col-md-3">
        <h4>Server Properties</h4>

        <ul class="list-group">
            <li class="list-group-item"><strong>Name</strong>: @Model.Member.Name</li>
            <li class="list-group-item"><strong>Address</strong>: @Model.Member.Addr</li>
            <li class="list-group-item"><strong>Port</strong>: @Model.Member.Port</li>
            @foreach (var server in Model.Member.Operator.Servers)
            {
                @if (server.Node == Model.Member.Name)
                {
                    <li class="list-group-item"><strong>Voter</strong>: @server.Voter</li>
                    <li class="list-group-item"><strong>Leader</strong>: @server.Leader</li>
                }
            }
            <li class="list-group-item"><strong>Status</strong>: @Model.Member.Status</li>
        </ul>
    </div>

    <div class="col-md-3">
        <h4>Configuration</h4>

        <ul class="list-group">
            <li class="list-group-item"><strong>Region</strong>: @Model.Config.Region</li>
            <li class="list-group-item"><strong>Datacenter</strong>: @Model.Config.Datacenter</li>
            <li class="list-group-item"><strong>Bind Address</strong>: @Model.Config.BindAddr</li>
            <li class="list-group-item"><strong>HTTP Address</strong>: @Model.Config.AdvertiseAddrs.HTTP</li>
            <li class="list-group-item"><strong>RPC Address</strong>: @Model.Config.AdvertiseAddrs.RPC</li>
            <li class="list-group-item"><strong>Serf Address</strong>: @Model.Config.AdvertiseAddrs.Serf</li>
            <li class="list-group-item"><strong>Data Directory</strong>: @Model.Config.DataDir</li>
            <li class="list-group-item"><strong>Log Level</strong>: @Model.Config.LogLevel</li>
            <li class="list-group-item"><strong>Nomad Version</strong>: @Model.Config.Version</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>Raw JSON <a class="material-icons" href="#json" data-toggle="collapse">keyboard_arrow_down</a></h4>

        <div id="json" class="collapse">
            <pre><code>@ViewData["Json"]</code></pre>
        </div>
    </div>
</div>
