@model Nomad.Extensions.PaginatedList<Nomad.Models.Member>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="row">
    <div class="col-md-12">
        <form class="search" method="get">
            <h4>Servers</h4>

            <input name="search" type="text" placeholder="&#8981;">
        </form>

        <table class="table table-hover">
            <thead>
                <tr class="row">
                    <th class="col">Name</th>
                    <th class="col">Address</th>
                    <th class="col">Port</th>
                    <th class="col">Status</th>
                    <th class="col">Voter</th>
                    <th class="col">Leader</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member in Model)
                {
                    <tr class="row">
                        <td class="col"><a href="/server?ip=@member.Addr">@member.Name</a></td>
                        <td class="col">@member.Addr</td>
                        <td class="col">@member.Port</td>
                        <td class="col">@member.Status</td>
                        @foreach (var server in member.Operator.Servers)
                        {
                            @if (server.Node == member.Name)
                            {
                                <td class="col">@server.Voter</td>
                                <td class="col">@server.Leader</td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>

        <nav>
            <ul class="pagination">
                <li class="page-item @prevDisabled"><a class="page-link" href="/servers?page=@(Model.PageIndex - 1)">Previous</a></li>
                <li class="page-item @nextDisabled"><a class="page-link" href="/servers?page=@(Model.PageIndex + 1)">Next</a></li>
            </ul>
        </nav>
    </div>
</div>
