<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <title>Nomad</title>

        <link rel="stylesheet" href="~/css/bootstrap-4.0.0-alpha.6.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        <!-- jQuery -->
        <script src="~/js/jquery-3.2.1.min.js"></script>

        <!-- Bootstrap -->
        <script src="~/js/tether-1.4.0.min.js"></script>
        <script src="~/js/bootstrap-4.0.0-alpha.6.min.js"></script>
    </head>

    <body>
        <nav class="nav header-nav">
            <a class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "dashboard" ? "nav-link active" : "nav-link")" href="/">Dashboard</a>
            <a class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "job" ? "nav-link active" : "nav-link")" href="/jobs">Jobs</a>
            <a class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "evaluation" ? "nav-link active" : "nav-link")" href="/evaluations">Evaluations</a>
            <a class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "allocation" ? "nav-link active" : "nav-link")" href="/allocations">Allocations</a>
            <a class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "client" ? "nav-link active" : "nav-link")" href="/clients">Clients</a>
            <a class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "server" ? "nav-link active" : "nav-link")" href="/servers">Servers</a>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </body>
</html>
