<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <title>Nomad</title>

        <link rel="stylesheet" href="~/css/bootstrap-4.0.0-alpha.6.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        <!-- jQuery -->
        <script src="~/js/jquery-3.2.1.min.js"></script>

        <!-- Bootstrap -->
        <script src="~/js/tether-1.4.0.min.js"></script>
        <script src="~/js/bootstrap-4.0.0-alpha.6.min.js"></script>

        <!-- React -->
        <script src="~/js/react-15.5.4.min.js"></script>
        <script src="~/js/react-dom-15.5.4.min.js"></script>
        <script src="~/js/axios-0.16.1.min.js"></script>
        <script src="~/js/babel-6.24.0.min.js"></script>

        <!-- Chart.js -->
        <script src="~/js/chartjs-2.5.0.min.js"></script>
        <script src="~/js/react-chartjs-2.1.0.min.js"></script>

        <!-- Highlight.js -->
        <script src="~/js/highlightjs-9.11.0.min.js"></script>
        <script>
            hljs.initHighlightingOnLoad();
        </script>
    </head>

    <body>
        <ul class="nav header-nav">
            <li class="nav-item"><a class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "dashboard" ? "nav-link active" : "nav-link")" href="/">Dashboard</a></li>
            <li class="nav-item"><a class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "job" ? "nav-link active" : "nav-link")" href="/jobs">Jobs</a></li>
            <li class="nav-item"><a class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "evaluation" ? "nav-link active" : "nav-link")" href="/evaluations">Evaluations</a></li>
            <li class="nav-item"><a class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "allocation" ? "nav-link active" : "nav-link")" href="/allocations">Allocations</a></li>
            <li class="nav-item"><a class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "client" ? "nav-link active" : "nav-link")" href="/clients">Clients</a></li>
            <li class="nav-item"><a class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "server" ? "nav-link active" : "nav-link")" href="/servers">Servers</a></li>
        </ul>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </body>
</html>
