<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <title>Nomad</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
        <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
        <script>
            hljs.initHighlightingOnLoad();
        </script>
    </head>

    <body>
        <nav class="nav header-nav">
            <a class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "dashboard" ? "nav-link active" : "nav-link")" href="/">Dashboard</a>
            <a class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "job" ? "nav-link active" : "nav-link")" href="/jobs">Jobs</a>
            <a class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "evaluation" ? "nav-link active" : "nav-link")" href="/evaluations">Evaluations</a>
            <a class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "allocation" ? "nav-link active" : "nav-link")" href="/allocations">Allocations</a>
            <a class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "client" ? "nav-link active" : "nav-link")" href="/clients">Clients</a>
            <a class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "server" ? "nav-link active" : "nav-link")" href="/servers">Servers</a>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </body>
</html>
